* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: sans-serif;
        letter-spacing: 1px;
}

body {
    background: #0D0714;
    height: 100%;
    display: flex;
    align-items: center;
    margin: 100px;
}

.container {
    height: 100%;
    margin: 0px auto;
    padding: 0px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    margin-right: auto;
    float: right;
}

.todo-app {
    width: 100%;
    max-width: 540px;
    background: #0D0714;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #0D0714;
    border-radius: 10px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input {
    flex: 1;
    background: #0D0714;
    border: 1px solid #46345F;
    border-radius: 10px;
    margin: 6px;
    padding: 10px;
    display: block;
    width: 675%;
    height: 85%;
    align-items: center;
    font-size: 15px;
    color: #9672C4;
}

button {
    background: #9F79CF;
    color: #fff;
    border-radius: 10px;
    transition: all 0.45s ease 0s;
    width: 94;
    height: 70;
    font-size: 20px;
    padding: 8px;
    margin: auto;
    cursor: pointer;
    outline: none; 
    border: none;
}

/*button img {
    width: 32px;
    height: 32px;
}*/

ul li {
    list-style: none;
    font-size: 20px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50px;
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked {
    color: #fff;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url(assets/checked.png);
    width: 20px;
    height: 20px;
}

ul li img {
    position: absolute;
    top: 12px;
    right: 0;
    width: 20px;
    height: 20px;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
}


