* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: sans-serif;
        letter-spacing: 1px;
}

.container {
    height: 100%;
    margin: 0px auto;
    padding: 0px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    margin-right: auto;
    float: right;
}

.todo-app {
    width: 100%;
    max-width: 540px;
    background: #0D0714;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}